 .u-section-1 {
  background-image: url("images/S__12083224.jpg");
  background-position: 50% 34.01%;
}

.u-section-1 .u-sheet-1 {
  min-height: 237px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 106px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 758px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 618px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 33px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 33px auto 0 0;
  padding: 20px 55px 21px 54px;
}

.u-section-2 .u-image-1 {
  min-height: 309px;
  background-image: url("images/S__12083227.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 309px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 122px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 309px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 122px;
}

.u-section-2 .u-image-4 {
  min-height: 309px;
  background-image: url("images/S__12083230.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 255px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 255px;
  }

  .u-section-2 .u-image-2 {
    height: 95px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 255px;
  }

  .u-section-2 .u-image-3 {
    height: 95px;
  }

  .u-section-2 .u-image-4 {
    min-height: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1171px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 391px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 391px;
  }

  .u-section-2 .u-image-2 {
    height: 163px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 391px;
  }

  .u-section-2 .u-image-3 {
    height: 163px;
  }

  .u-section-2 .u-image-4 {
    min-height: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2884px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 43px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 587px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 587px;
  }

  .u-section-2 .u-image-2 {
    height: 283px;
  }

  .u-section-2 .u-layout-cell-4 {
    order: 1;
    min-height: 587px;
  }

  .u-section-2 .u-image-3 {
    height: 283px;
  }

  .u-section-2 .u-image-4 {
    order: 0;
    min-height: 587px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2018px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 8px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -21px;
    margin-right: 15px;
    margin-left: auto;
    padding: 5px 25px 5px 24px;
  }

  .u-section-2 .u-image-1 {
    min-height: 370px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 370px;
  }

  .u-section-2 .u-image-2 {
    height: 174px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 370px;
  }

  .u-section-2 .u-image-3 {
    height: 174px;
  }

  .u-section-2 .u-image-4 {
    min-height: 370px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 583px;
}

.u-section-3 .u-image-1 {
  height: 320px;
  margin-top: -9px;
  margin-bottom: 0;
  object-position: 50% 61.86%;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 1140px;
  height: auto;
  min-height: 272px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 23px 30px;
}

.u-section-3 .u-icon-1 {
  height: 124px;
  width: 124px;
  background-image: none;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -63px auto 0;
  padding: 29px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  font-weight: 700;
  margin: 30px 7px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 23px 30px;
}

.u-section-3 .u-icon-2 {
  height: 124px;
  width: 124px;
  background-image: none;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -63px auto 0;
  padding: 29px;
}

.u-section-3 .u-text-3 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  font-weight: 700;
  margin: 30px 7px 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 23px 30px;
}

.u-section-3 .u-icon-3 {
  height: 124px;
  width: 124px;
  background-image: none;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -63px auto 0;
  padding: 29px;
}

.u-section-3 .u-text-5 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  font-weight: 700;
  margin: 30px 7px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 798px;
  }

  .u-section-3 .u-image-1 {
    height: 545px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    min-height: 223px;
    margin-top: -124px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1222px;
  }

  .u-section-3 .u-image-1 {
    height: 395px;
  }

  .u-section-3 .u-list-1 {
    width: 518px;
    margin-top: -117px;
    margin-bottom: 29px;
    min-height: 272px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 924px;
    grid-template-columns: 100%;
    grid-gap: 10px 10px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 58px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 11px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 59px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1310px;
  }

  .u-section-3 .u-image-1 {
    height: 365px;
  }

  .u-section-3 .u-list-1 {
    width: 477px;
    min-height: 526px;
    margin-top: -58px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1149px;
  }

  .u-section-3 .u-image-1 {
    height: 267px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: -53px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 172px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 30px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-4 .u-text-1 {
    width: 264px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin: 6px 19px 54px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: 19px;
    margin-right: auto;
    margin-bottom: 41px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 204px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 37px auto 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 37px auto 0 310px;
  padding: 0 30px;
}

.u-section-5 .u-icon-1 {
  font-size: 1.5667em;
}

.u-section-5 .u-image-1 {
  width: 258px;
  height: 75px;
  margin: -75px 312px 37px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 40px;
    margin-left: 211px;
  }

  .u-section-5 .u-image-1 {
    margin: -60px auto 25px 471px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 100px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 102px;
    margin-bottom: 15px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-btn-1 {
    margin-left: 10px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -67px;
    margin-right: 12px;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 48px;
  }
}